/* Only global rule. Hide overflow. */
body, html{
  overflow: hidden;
}

#DV-docViewer{
  position: relative;
  text-align: left;
  line-height: normal;
}

#DV-docViewer-Container{
  position:absolute;
  top: 39px; bottom: 0px; left: 0px; right: 0px;
  margin: 0;
  overflow: hidden;
  border: 1px solid #ababab; border-left: 0; border-right: 0;
}

#DV-bar{
  width:1px;
}

#DV-docViewer table{
  border-collapse:collapse;
  position:relative;
}

#DV-docViewer td{
  position:relative;
  vertical-align:top;
}

#DV-annotations {
  padding: 0 60px;
}

#DV-well{
  width:265px;
  position:absolute;
  border-left:1px solid #ababab;
  left: auto; top: 0; bottom: 0; right: 0;
  overflow-y:auto;
  background: white;
}

#DV-navControls{
  background-color: #fff;
  background-repeat: repeat-x;
  background-image: url(../../../images/DV/embed/shadow-white.gif);
}

#DV-pages{
  background-color:#ccc;
  overflow: auto;
  position: absolute;
  left: 0; right: 266px; top: 0; bottom: 0;
  z-index:10001;
}

#DV-pageCollection{
  margin: 20px auto;
  position:relative;
  z-index:0;
}

#DV-pageCollection{
  cursor:  url(../../../images/DV/grab.cur), auto;
  cursor: -moz-grab;
}

#DV-pageCollection.DV-dragging {
  cursor:  url(../../../images/DV/grabbing.cur), auto;
  cursor: -moz-grabbing;
}

#DV-loadingDocument {
  margin-top: 10px;
  text-align:center;
}

#DV-loadingDocument span{
  font-family:Arial,Helvetica,sans-serif;
  font-weight:normal;
  font-size:12px;
  color:#666;
  padding:10px;
  font-style:oblique;
  padding-left:24px;
  margin: 10px auto;
  background:url(../../../images/DV/embed/spinner.gif) no-repeat left 8px;
}

#DV-loadingDocument strong{
  font-weight:normal;
  color:#666;
}