.DV-zoomControls{
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  float: right;
  margin: 8px 20px 0 0;
  position: absolute;
  right:-10px;
}

#DV-docViewer.DV-searchable .DV-zoomControls {
  right:235px;
}

.DV-zoomLabel{
  color:#333333;
  display:inline;
  float:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  padding:3px 16px 0 0;
  margin: 3px 0 0 -74px;
  position:relative;
}

#DV-zoomBox{
  background: url(../../../images/DV/embed/bar.gif) repeat-x 0 88%;
  height:20px;
  width:85px;
  float: left;
  position:relative;
  margin-right:25px;
}

#DV-zoomBox .ui-slider-handle{
  height:12px;
  width:12px;
  position:absolute;
  left:0;
  top:0;
  margin-top:5px;
  margin-left:-5px;
  background: transparent url(../../../images/DV/embed/slider.gif) no-repeat 0 0;
  outline: none;
}

.DV-zoomControls .DV-trigger{
  font-size:11px;
  text-decoration:none;
  font-family:Arial,Helvetica,sans-serif;
  color:#004276;
}

.DV-triggers .DV-selected{
  font-weight:bold;
  color:#000;
}
