<div id="DV-chapter-<%= id %>" class="DV-chapter <%= navigationExpanderClass %>">
  <div class="DV-first">
    <%= navigationExpander %>
    <span class="DV-trigger"><%= title %><span>p.&nbsp;<%= pageNumber %></span></span>
  </div>
  <%= noteViews %>
</div>