<% if (description) { %>
  <div id="DV-description">
    <div id="DV-descriptionHead">
      <span class="DV-showDescription DV-trigger" id="DV-descriptionToggle">Toggle Description</span>
      Description
    </div>
    <div id="DV-descriptionText"><%= description %></div>
  </div>
<% } %>
