<div id="p<%= pageIndex %>" class="DV-set" style="top:0;left:0px;height:893px;width:700px;">
  <div class="DV-pageMeta"><span class="DV-pageNumber">p. <%= pageNumber %></span></div>
  <div class="DV-annotations"></div>  
  <div class="DV-page" style="height:863px;width:700px;">
    <span class="DV-loading-top">Loading</span>
    <span class="DV-loading-bottom">Loading</span>
    <div class="DV-cover"></div>
    <img galleryimg="no" class="DV-pageImage" src="<%= pageImageSource %>" height="863" />
  </div>
</div>