body{
  padding:0 0 20px;
  margin:0;
}
#DV-pages{ 
  overflow:visible;
  height:auto;
}
#DV-views{
  margin-left:15px;
}
#DV-pageCollection{
  margin-top:0;
  padding-bottom:0;
  cursor:default;
}
.DV-set{
  position: relative;
  padding-left:20px;
  padding-top:20px;  
}
#DV-textPage{
  margin-top:0 !important;
}
.DV-pageImage{
  position:relative;
}
#DV-wellContainer{
  border-left:1px solid #ABABAB;
  width:246px;  
  background-color:#fff;
}
#DV-well #DV-navControls{
  right:0;
}
.DV-page{
  margin: 0 auto;
}
.DV-navigation div.DV-first span.DV-trigger{
  margin-left:0;
}

.DV-chapter .DV-annotationMarker{
  display:block;
}
.DV-hasChildren .DV-annotationMarker{
  margin-left:0;
}
.DV-chapter, 
.DV-annotationMarker{
  margin-bottom:15px;
}